SERVER_PORT=8080
PAYMENT_SERVICE_PORT=8080

DB_URL=jdbc:postgresql://db:5432/paiement
DB_USERNAME=paiement_user
DB_PASSWORD=change_me

JWT_SECRET=change_me
JWT_ISSUER=fitu
JWT_AUDIENCE=fitu

STRIPE_API_KEY=change_me
STRIPE_PUBLISHABLE_KEY=change_me

PAYPAL_CLIENT_ID=change_me
PAYPAL_CLIENT_SECRET=change_me
PAYPAL_MODE=sandbox

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=change_me
RABBITMQ_PASSWORD=change_me

APP_LOG_LEVEL=INFO
HIBERNATE_DDL_AUTO=update
JPA_SHOW_SQL=false
HIBERNATE_FORMAT_SQL=false
